NEXT_PUBLIC_SUPABASE_URL=https://rgiskvhbnpghxklmzewi.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJnaXNrdmhibnBnaHhrbG16ZXdpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyOTc3ODMsImV4cCI6MjA4OTg3Mzc4M30._zF99itS0DyH7BoSJhxMM1Ororb2DoycGBJkP3Vo4Jc
SUPABASE_SERVICE_ROLE_KEY=
AGENCEFLOW_EXTENSION_KEY=
AGENCEFLOW_EXTENSION_USER_ID=
AUDITS_WEBHOOK_API_KEY=
WASENDER_API_TOKEN=
